img {
    height: 200px
}

.name {
    font-weight: bold;
    margin: 10px
}

.cart-section {
    margin: 30px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.cart-box {
    display: flex;
    align-items: center;
}

button {
    height: 50px;
}

.total-price {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    color: rgb(0, 119, 255);
}